.section{
    padding: var(--section-padding);
    background-color: #E5FBFC;
}

.itemWrapper{
    display: flex;
    align-items: center;
    gap: 8vw;
    justify-content: center;
    position: relative;
}

.section .itemWrapper:nth-child(2){
    flex-direction: row-reverse;
    margin: 6vw 0;
}
.section .itemWrapper:nth-child(3){
    margin-bottom: 6vw;
}
.section .itemWrapper:nth-child(4){
    flex-direction: row-reverse;
}

.imgWrapper{
    position: relative;
}



.img{
    object-fit: cover;
    object-position: center;
    width: 18vw;
    height: 28vw;
}

.imgWrapper{
    overflow: hidden;
}

.content{
    width: 40vw;
    position: relative;
}

.abstract{
    position: absolute;
    width: 3vw;
    height: 3vw;
    bottom: 2vw;
    right: -2vw;
    rotate: 90deg;
}


.content h4{
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 100%;
}

.content h2{
    font-family: var(--primary-font);
    color: var(--primary-color-dark);
    font-size: 3.2rem;
    line-height: 125%;
    font-weight: 500;
    margin: 1vw 0;
}

.content p{
    padding-bottom: 2vw;
    font-size: 1.2rem;
    line-height: 200%;
}

/* MEDIUM LAPTOP STYLES */
@media only screen and (min-width: 1401px) and (max-width: 1920px){
    .content{
        width: 40vw;
    }
    
    .img{
        width: 20vw;
        height: 28vw;
    }
}

/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){
    .content{
        width: 35vw;
    }
    .img{
        width: 24vw;
        height: 38vw;
    }
    .section{
        gap: 10vw;
    }
    
}

/* TABLET AND LOWER STYLES */
@media only screen and (max-width: 990px){
    .itemWrapper{
        flex-direction: column !important;
    }
    .section .itemWrapper:nth-child(2){
        margin: 15vw 0;
    }
    .img{
        width: 40vw;
        height: 55vw;
    }
    .content{
        width: 60vw;
    }
    .content h2{
        font-size: 4rem;
    }
    .content h4{
        font-size: 1.8rem;
    }
    .content p{
        padding: 3vw 10% 3vw 0;
        font-size: 1.6rem;
        line-height: 210%;
    }
}

/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .section .itemWrapper:nth-child(2){
        margin: 20vw 0;
    }
    .img{
        width: 60vw;
        height: 85vw;
    }
    .content{
        width: 80vw;
    }
    .content h2{
        font-size: 4rem;
    }
    .content h4{
        font-size: 1.8rem;
    }
    .content p{
        padding: 5vw 10% 5vw 0;
    }
}